extends layout

block content
  h1 Race Pool
  p.lead Cheer on some drivers, challenge your friends, and win prizes!
  hr
  .row
    .col-sm-6
      h2 How Does it Work?
      p You create an account and join a group of your friends. Once you are all in the group, you are each randomly given a driver (or a few!) to root for during the race. Get live updates of your driver, race conditions, and more, all while trash talking your friends!
      p
        a.btn.btn-default(href='/signup', role='button') Signup »
